html{
	body{
		div.about-content{
			padding: 9em 0;

			div.container{
				div.row{
					img{
						border: 10px solid $yellow;
						display: block;
						margin: 0 auto;
						max-width: 125px;
						max-height: 125px;


					}
					
				}
			}
			div.albumList{
				ul{
					width: 100%;

					li{
						padding: 1em 0.5em;
						width: 100%;
						border-bottom: 1px solid $yellow;

						a{
							color: $yellow;
						}
					}
				}
			}
		}
	}
}