html{
	body{
		div.home-content{
			background-image: url('/crashrecords/inc/img/background-home.jpg');
			@include background-size(cover);
			background-position: center;
    		background-repeat: no-repeat;
    		height: auto;

			div.back-overlay{
				
				width: 100%;
				height: 100%;

				div.container{
					padding-top: 30%;

					div.row{
						div.col-12{
							padding: 60px 20px;
						    display: block;
						    width: 80%;
						    margin: 0 auto;

						    div.search{
						    	position: relative;

						    	div.search-field{
						    		position: absolute;
							    	border-radius: 30px;
							    	width: 100%;
							    	background-color: $yellow;
							    	padding: 1em 2em;
							    	display: block;
							    	margin: -30px auto;
							   
									input.search{
										background-color: $yellow;
										border: none;
										width: 100%;
										font-size: 1.1em;
										
									}
								}
								div.search-results{
									width: 100%;
								    padding: 3em 1em;
								    border: 3px solid $yellow;
								    background-color: black;
								    /* z-index: 98; */
								    margin-top: 1.5em;

								    ul{
								    	width: 100%;

								    	li{
								    		width: 100%;
								    		border-bottom: 1px solid $yellow;
								    		padding: 1em 0;

								    		a{
								    			color: $yellow;
								    			font-size: 1em;
								    			font-weight: 400;
								    			text-transform: none;
								    		}
								    	}
								    }
								}
						    }
						}
					}
				}
			}	
		}
	}
}